body{
    margin: 0; 
    padding: 0;  
    background-color: #c1b3b3;

} 
nav{ 
    padding: 1px;
    background-color: aliceblue;
    border-bottom: 1px solid black; 
    height: 80px;
    width: 100%; 

} 
nav ul {
    list-style-type: none; 
    text-align: center; 
    
} 
 nav ul li {
     display: inline-block; 
     margin: 15px; 
     text-align: center; 
     font-size: 30px; 
    text-transform: uppercase; 
    
 } 
 
    
 